langchain==0.3.0
langchain-core==0.3.2
langchain-openai==0.2.0
langchain-ollama==0.2.0
langchain-chroma==0.1.4
langchain-community==0.3.0
langchain-unstructured==0.1.4
langchainhub==0.1.21
unstructured==0.15.13
pypandoc==1.13
nltk==3.9.1
loguru==0.7.2
pillow==10.4.0
pytest==8.3.2