html, body {
    height: 100%;
    margin: 0;
    padding: 0;
    overflow-y: auto;
}

body {
    font-family: 'Roboto', sans-serif;
    background-color: #1c1c1c;
    color: #f4f4f9;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    padding-bottom: 40px;
    flex-direction: column;
}

.container {
    background-color: #333;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
    border-radius: 8px;
    padding: 30px;
    width: 800px;
    text-align: center;
    margin-bottom: 20px;
}

h1 {
    color: #ffefad;
    margin-bottom: 20px;
    font-size: 24px;
}

label {
    display: block;
    margin-bottom: 8px;
    font-weight: 500;
    color: #ccc;
}

input[type="file"],
input[type="number"],
input[type="text"] {
    width: calc(100% - 20px);
    padding: 10px;
    margin-bottom: 20px;
    border-radius: 4px;
    border: 1px solid #555;
    background-color: #2c2c2c;
    color: #fff;
    text-align: center;  /* Center the input text */
}

button {
    background-color: #ffefad;
    color: #333;
    padding: 12px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 16px;
    font-weight: 700;
}

button:hover {
    background-color: #ff9900;
}

.answer {
    margin-top: 20px;
    padding: 10px;
    border-radius: 4px;
    background-color: #444;
    color: #f4f4f9;
    font-weight: 500;
}

.loading {
    display: none;
    margin-top: 20px;
    color: #ffefad;
    font-size: 16px;
}

.cover-image {
    margin-top: 20px;
    max-width: 15%;
    display: block;
    margin-left: auto;
    margin-right: auto;
    border-radius: 8px;
}

.context-container {
    margin-top: 20px;
    padding: 10px;
    border-radius: 4px;
    background-color: #555;
    color: #f4f4f9;
    font-weight: 500;
    display: none;
}

.context-doc-wrapper {
    margin-bottom: 15px;
}

.context-doc-title {
    cursor: pointer;
    font-weight: bold;
    color: #ffefad;
    background-color: #444;
    padding: 10px;
    border-radius: 4px;
    text-align: center;
}

.context-doc-content {
    margin-top: 10px;
    padding: 10px;
    border-radius: 4px;
    background-color: #666;
    color: #f4f4f9;
    text-align: left;
    display: none;
    font-family: 'Georgia', serif;
    line-height: 1.6;
}

/* Center the upload form and its elements */
#uploadForm {
    display: flex;
    flex-direction: column;
    align-items: center;
}

input[type="file"] {
    text-align: center;
}